@model viewDemo.Models.Student;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> viewDemo.Models
    <h1>r_no : @Model.r_no</h1>
    <h1>name : @Model.name</h1>
    <h1>gender : @Model.gender</h1>
    <h1>course : @Model.course</h1>
    <h1>fees : @Model.fees</h1>
</div>
